<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your account at Rotten Mangos has been deleted, <%= @user.full_name %></h1>
    <p>
      An Admin decided to delete your account.
    </p>
    <p>
      If you want to post more reviews, please sign up for a new account, and post more constructively.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>